# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cấu hình môi trường ảo
.venv/
venv/
env/
.env

# Phân phối / Đóng gói
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# File của hệ thống và IDE
.vscode/
.idea/
.DS_Store

# Dữ liệu sinh ra khi chạy / đóng gói
events/
logs/
exports/
